<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700,400&display=swap" rel="stylesheet">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Zen Data",
          "url": "https://www.zendatasolutions.com/",
          "logo": "https://www.zendatasolutions.com/images/light.png",
          "contactPoint": [{
            "@type": "ContactPoint",
            "email": "info@zendatasolutions.com",
            "contactType": "customer support"
          }]
        }
    </script>

</head>
<body>
    <header>
        <nav class="main-navbar">
            <div class="nav-logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Zen Data logo" class="site-logo" />
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact" class="nav-cta">Let’s Build Together</a></li>
            </ul>
        </nav>
    </header>

