# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Mac system files
.DS_Store

# Editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Output folders
dist/
build/
